@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Nhóm11</h2>
<p>
    Trịnh Duy Cường - 41.01.104.009<br />
    Nguyễn Đắc Anh Khoa - 41.01.104.043<br />
    Trương Hữu Tài - 41.01.104.111
</p>

